:root{
	--color_black: rgba(51, 51, 51, 0.815);
	--color_red: #DF2027;
	--color_grey:rgb(155, 157, 163);
	--line_grey:rgba(183, 183, 185, 0.596);
	--bg_grey: #F1F0ED;
}
*{
	box-sizing: border-box;
	font-family: "Helvetica", Arial, sans-serif;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
hr{
	border: none;
	background-color:var(--line_grey);
	height: 1px;
}
body{
	background: var(--bg_grey);
}


/*---DESKTOP---*/
@media (min-width: 1300px) and (max-width: 1450px){

/*HEADER*/
			.headerMob{
				display: none;
			}
			.header{
				height: 55px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background: #333;
			}
			.headerLogo{
				width: 60px;
				display: flex;
				justify-content: center;
				margin-left: 60px;
			}
			.menuContent{
				margin-left: 25px;
				margin-right: 60px;
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
			.headerMenu,
			.headerSocialMenu{
				display: flex;
			}
			.headerMenu a,
			.headerMenu a:visited,
			.headerMenu a:active{
				color: white;	
			}
			.headerSocialMenu a,
			.headerSocialMenu a:visited,
			.headerSocialMenu a:active{
				color: var(--color_grey);	
				font-weight: bold;
				font-size: 1.1em;
			}
			.header li{
				margin-right: 40px;
				font-size: 15px;
				font-weight: bold;
				letter-spacing: 1px;
			}
			.header li:last-child{
				margin-right: 0;
			}
			.headerMenu .calendar{
				color: var(--color_red);
				font-size: 1.1em;
			}			
			.logo:focus,
			.logo:hover{
				border: none;
			}

/*MAIN*/
		main{
			width: 1200px;
			margin: 60px;
			display: flex;
			color: var(--color_grey);
		}
		.eventPage{
			width: 800px;	
			height: 700px;
			background: white;
			padding: 25px;
		}
		.titleEventPage strong{
			font-size: 1.7em;
			font-weight: normal;
			color:var(--color_grey);
			letter-spacing: 1px;
		}
/*HEADER EventPage*/
		.headerEventPage{
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
		}
		.infoEvent{
			width: 420px;
			height: 190px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.infoEventItem{
			font-size: 14px;
			padding-right: 10px;
			letter-spacing: 1px;
			line-height: 12px;
		}
		button{
			width: 180px;
			height: 30px;
			background: var(--bg_grey);
			border: none;
			color: var(--color_grey);
			font-size: 16px;

		}
		.videoEvent{
			width: 320px;
		}

/*MAIN EventPage*/

/*OHTER CHAPTERS*/
		.otherChapters{
			width: 300px;
			background: #fff;
			margin-left: 60px;
		}
		.titleotherChapters{
			display: flex;
			justify-content: space-between;
			padding: 25px;
		}
		.titleotherChapters strong{
			font-size: 1.7em;
			font-weight: normal;
			color:var(--color_grey);
			letter-spacing: 1px;
		}
		.otherChapters .item{
			height: 30px;
			padding: 0 25px ;
			font-size: .85em;
			color: var(--color_grey);
			text-decoration-line: underline;
		}
	footer{
		background: #000;
		margin-top: 20px;
		color: var(--main-color_);
		border-top: 10px solid var(--main-color_red);
	}
	.topFooter{
		background: var(--main-color_grey);
		display: flex;
		color:#fff;
		padding: 20px 10px;
	}
	.topFooter .footerSection{
		margin-right: 250px;
	}

	}


/*---MOBILE---*/
@media (min-width: 320px) and (max-width: 640px){
	
.container{
	padding: 5px;
}
.header{
  display: none;
}
	.headerMob{
		height: 200px;
		font-size: 15px;
		background: var(--color_red);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.headerTop{
		display: flex;
		justify-content: space-between;
	}
	
/* FILTERS */
	.headerBottom{
	
	}
	.filterMenu{
		display: flex;
		flex-direction: column;
		
	}
	.filterItem{
		width: 100%;
		margin: 0 auto;
		padding: 0 5px 10px ;
		color: var(--color_grey);
	}
	select{
		height: 25px;
		font-size: 15px;
		text-transform: uppercase;
		width: 100%;
		color: var(--main-color);
		background: #fff;
		font-weight: 700;
	}
.mainPicDesctop{
	display: none;
}

/* MAIN */
main{
   display: flex;
	 flex-direction: column;
	 color: var(--color_grey);
 }
 .titleEventPage{
	margin: 20px 0;
 }
 .titleEventPage strong{
	font-size: 19px;
	font-weight: bold;
	color:var(--color_grey);
	
}
	.filterMenu{
		display: none;
	}
/*HEADER EventPage*/
	.headerEventPage{
		
	}
	.infoEvent{
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 20px 0;
	}
	.infoEventItem{
		font-size: 14px;
		padding-right: 10px;
		letter-spacing: 1px;
		line-height: 12px;
	}
	button{
		width: 180px;
		height: 30px;
		background:#fff;
		border: 1px solid var(--color_grey);
		color: var(--color_grey);
		font-size: 18px;

	}
	.videoEvent{
		width: 320px;
	}

	

	
/*--OTHER SECTION--*/
.otherChapters{
	display: none;
}
 
footer{
	border-top: 3px solid var(--color_red);
	color: var(--color_grey);
	margin: 20px 0;
	background: #333;
	
}
.topFooter{
	display: flex;
}
}



/*---TABLET---*/
@media (min-width: 640px) and (max-width: 1020px){
	.headerMob{
		display: none;
	}
	.header{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	header .headerSocialMenu,
	header .logo,
	header .headerMenu{
  width: 33%;
  
}
	.header .logo img{
		width: 120px;
		margin: 5px 0 0 5px;
	}
	.headerMenu{
		display: flex;
		justify-content: space-between;
	}
	.headerSocialMenu{
		display: flex;
		justify-content: flex-end;
	}
	.headerSocialMenu a{
		margin-right: 5px;
	}

	.title{
		display: none;
	}

	/*---MAIN---*/
	
	.sponsorsLogoMob{
		display: none;
	}
	 .sponsorsLogo{
		 display: flex;
		 overflow: scroll;
	 }
	 .sponsorsLogo img{
		 width: 97%;
		 margin-top: 5px;
	 }

	

	/*Nav*/	
	
	

	/*Filters*/
	.filterMenu{
		display: flex;
		justify-content: space-between;
		margin: 10px 5px;
		color: var(--main-color_white);
	}
	.filterItem{
		width: 33%;
		display: flex;
	}
	select{
		color: var(--main-color);
		font-weight: bolder;
		width: 50%;
		text-transform: uppercase;
	}
	label{
		margin-right: 5px;
	}

	/*--EVENT--*/


footer{
	margin: 20px 0;
	color: var(--main-color);
}
}
